main img {
    width: 100%;
}

main #feature__image__desktop {
    display: none;
}

main .feature {
    padding-top: 10rem;
}

main article {
    text-align: center;
}

article h2 {
    margin: 2rem 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

article p {
    line-height: 1.7;
    font-family: 'alata';
    color: hsl(0, 0%, 55%);
}

/* our creations */
.our__creations {
    margin-top: 3rem ;
}

.our__creations #see__all__btn__desktop {
    display: none;
}

.our__creations h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    padding: 2rem;
}


.img {
    padding: 6rem 1rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    background-position: center;
    background-size: cover;
}

.deep__earth {
    background-image: url('./images/mobile/image-deep-earth.jpg');
}

.night__arcade {
    background-image: url('./images/mobile/image-night-arcade.jpg');
}

.soccer__team__vr {
    background-image: url('./images/mobile/image-soccer-team.jpg');
}

.the__grid {
    background-image: url('./images/mobile/image-grid.jpg');
}

.from__up__above__vr {
    background-image: url('./images/mobile/image-from-above.jpg');
}

.pocket__borealis {
    background-image: url('./images/mobile/image-pocket-borealis.jpg');
}

.the__curiosity {
    background-image: url('./images/mobile/image-curiosity.jpg');
}

.make__it__fisheye {
    background-image: url('./images/mobile/image-fisheye.jpg');
}