
.modal {
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #000;
    text-align: center;
    width: 90%;
    border-radius: 10px;
}

.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero__image img {
    width: 300px;
    max-width: 600px;
}

.modal h2 {
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
    text-transform: initial;
    margin: 0 0 2rem;
}

.modal button {
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.903);
    border-radius: 10px;
    letter-spacing: 3px;
    outline: none;
    font-family: 'alata';
    cursor: pointer;
}

.modal button:hover {
    color: #fff;
    background-color: #000;
}

/* for javascript */

.modal.active {
    top: 50%;
}