* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  font-family: "Josefin sans", sans-serif;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

/* styles all list items and links for mobile and desktop viewa */
li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
/* ********* */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

/* nav styling for mobile */
nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: ease 0.5s;
}

nav.active {
  left: 0;
}

h1 {
  border: 1px solid #fff;
  font-weight: 100;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3rem;
  color: #fff;
  font-family: "Alata";
}

.modal {
  display: none;
}

@media screen and (min-width: 769px) {
  #hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/desktop/image-hero.jpg");
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header #open__menu {
    display: none;
  }

  nav {
    position: initial;
    width: initial;
    height: initial;
    background-color: initial;
  }

  nav #close__menu {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 30px;
  }

  nav a {
    text-transform: capitalize;
    transition: ease 1s;
    padding-bottom: 0.5rem;
    position: relative;
  }

  nav a::after {
    content: "";
    background-color: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    left: 30%;
    bottom: -2px;
    transition: ease 0.5s;
  }

  nav a:hover::after {
    width: 50%;
  }
}
